<a href="https://colab.research.google.com/github/viditkhemka63/Machine-learning-journey/blob/master/Spam_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving spam.csv to spam (1).csv

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import string
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [0]:
data = pd.read_csv('spam.csv',encoding='latin-1')
data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [0]:
data.shape

(5572, 5)

In [0]:
data = data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1)
data = data.rename(columns={"v1":"class", "v2":"text"})
data.head()

  class                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [0]:
data['length'] = data['text'].apply(len)
data.head()

  class                                               text  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [0]:
data['length'].mean()

80.11880832735105

In [0]:
def preprocessing(text):
  
  text = text.translate(str.maketrans('','',string.punctuation))
  text = [word for word in text.split() if word.lower() not in stopwords.words('english')]
  
  words = ""
  for i in text:
    stemmer = SnowballStemmer('english')
    words += (stemmer.stem(i)) + " "
  return words

In [0]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
textFeatures = data['text'].copy()
textFeatures  = textFeatures.apply(preprocessing)
vectorizer = TfidfVectorizer("english")
features = vectorizer.fit_transform(textFeatures)

features_train, features_test, labels_train, labels_test = train_test_split(features, data['class'], test_size=0.3, random_state=111)

In [0]:
print(features)

  (0, 7574)	0.19449555011263384
  (0, 1138)	0.3501112803835596
  (0, 3342)	0.164475816719243
  (0, 2006)	0.29577542446330046
  (0, 1724)	0.33421906130459
  (0, 4204)	0.29577542446330046
  (0, 7776)	0.2379272168522122
  (0, 3380)	0.19449555011263384
  (0, 1726)	0.29577542446330046
  (0, 1327)	0.2662313123328933
  (0, 2223)	0.2711370860940892
  (0, 5539)	0.23906338437276378
  (0, 4063)	0.3501112803835596
  (0, 3289)	0.14081218308843002
  (1, 5200)	0.5633086751818669
  (1, 7688)	0.44480400570972006
  (1, 4029)	0.47731294876998304
  (1, 4239)	0.42078899608869724
  (1, 5170)	0.2827396376113674
  (2, 71)	0.23416578360011273
  (2, 1210)	0.16749632565308856
  (2, 5814)	0.23416578360011273
  (2, 7274)	0.12583555023089024
  (2, 5770)	0.23416578360011273
  (2, 5855)	0.16104729275511298
  :	:
  (5568, 2797)	0.6620015064495088
  (5568, 3097)	0.5769730291899227
  (5568, 3634)	0.3752780670596876
  (5568, 3289)	0.29668586321213597
  (5569, 6454)	0.5375461940984255
  (5569, 5475)	0.5375461940984255
  (5569, 4789)	0.4470332006149029
  (5569, 6756)	0.4714334480799934
  (5570, 1542)	0.34061411390040397
  (5570, 980)	0.3555373555878745
  (5570, 3876)	0.30681162157411673
  (5570, 3431)	0.24387229420343928
  (5570, 3211)	0.32056763604388977
  (5570, 2728)	0.2841554454801746
  (5570, 1754)	0.23912785879346776
  (5570, 6476)	0.23912785879346776
  (5570, 7395)	0.24607202142912218
  (5570, 4969)	0.2445934820356672
  (5570, 4326)	0.18421270939092774
  (5570, 3764)	0.27184190203013203
  (5570, 7612)	0.20743149862457863
  (5570, 3108)	0.18670397745265893
  (5571, 6005)	0.6913153487782636
  (5571, 7230)	0.5375550566736839
  (5571, 4893)	0.48282258603770845

In [0]:
print('train feature')
print(features_train)
print(features_test)

train feature
  (0, 185)	0.35075795341411403
  (0, 797)	0.2669716127797449
  (0, 1781)	0.13336589352965877
  (0, 2012)	0.20259652020045418
  (0, 2151)	0.217805919337917
  (0, 2601)	0.24028778072636905
  (0, 3412)	0.23421483171528237
  (0, 4227)	0.27071370126059696
  (0, 4335)	0.2375746255439351
  (0, 4493)	0.35075795341411403
  (0, 5668)	0.21224555775094597
  (0, 6304)	0.22118875131250823
  (0, 7112)	0.18493256452714202
  (0, 7218)	0.20185533603088393
  (0, 7384)	0.22423715373362624
  (0, 7426)	0.33892426399194014
  (1, 3027)	0.46596317721700614
  (1, 3087)	0.4181651641247937
  (1, 3380)	0.25885416883959383
  (1, 3569)	0.256449840967711
  (1, 3860)	0.46596317721700614
  (1, 4170)	0.2134734846255842
  (1, 4384)	0.2776007987059272
  (1, 4425)	0.2226963677632159
  (1, 6471)	0.29307972382077424
  :	:
  (3893, 7381)	0.1657262306399912
  (3893, 7773)	0.6415296744410898
  (3894, 2362)	0.682211487158678
  (3894, 6389)	0.73115489931255
  (3895, 4376)	0.5018429260250666
  (3895, 6156)	0.6599556898189841
  (3895, 7574)	0.36662184891810606
  (3895, 8027)	0.42213811125035583
  (3896, 1781)	0.33209828480209846
  (3896, 3787)	0.42717277614661003
  (3896, 4252)	0.4858161937529133
  (3896, 4620)	0.4964360253903955
  (3896, 6505)	0.47409708618881097
  (3897, 3319)	0.5900940972963329
  (3897, 3789)	0.4996790041724613
  (3897, 7023)	0.634121320509919
  (3898, 3327)	0.5324456487058694
  (3898, 4248)	0.42969158023084586
  (3898, 4447)	0.5029670115014412
  (3898, 4690)	0.39893465754354324
  (3898, 7112)	0.3460377167373949
  (3899, 2762)	0.4725171826186522
  (3899, 6389)	0.406058094756056
  (3899, 7225)	0.5639138607327314
  (3899, 7571)	0.5420751732801629
  (0, 3247)	0.3561721082109358
  (0, 5914)	0.7009381582679602
  (0, 6240)	0.617921619314697
  (1, 5170)	1.0
  (2, 1219)	0.35098008312482665
  (2, 3266)	0.25477774654509117
  (2, 3451)	0.28611014666304946
  (2, 4716)	0.2160430615382086
  (2, 4984)	0.4320861230764172
  (2, 5565)	0.3910985627294542
  (2, 5778)	0.3910985627294542
  (2, 6241)	0.35098008312482665
  (2, 7781)	0.2599347083579503
  (3, 1111)	0.25641239414418704
  (3, 4975)	0.2786534642130498
  (3, 5452)	0.44586159395471275
  (3, 5773)	0.29633170366008327
  (3, 6098)	0.42562308543746585
  (3, 6887)	0.44586159395471275
  (3, 6975)	0.30905447280084086
  (3, 7542)	0.30746975863332804
  (4, 1123)	0.2871503763171807
  (4, 1429)	0.3820929239784255
  (4, 2816)	0.26481232235845653
  (4, 3247)	0.18454417776731497
  :	:
  (1668, 6636)	0.22895988982346388
  (1668, 6787)	0.27182293814976305
  (1668, 6845)	0.28725748227624354
  (1668, 7021)	0.1896194284751583
  (1668, 7597)	0.28725748227624354
  (1668, 7654)	0.23107522676022954
  (1669, 1371)	0.2622190660378546
  (1669, 2378)	0.3560259666036839
  (1669, 2675)	0.48238154240402153
  (1669, 3247)	0.20296488686168485
  (1669, 3319)	0.2388981447196428
  (1669, 4865)	0.3560259666036839
  (1669, 5910)	0.3434026096449036
  (1669, 7220)	0.36715397925343385
  (1669, 7575)	0.3066688205868879
  (1670, 1743)	0.42357436854231206
  (1670, 2819)	0.42134303306586146
  (1670, 3247)	0.4882993930367664
  (1670, 3841)	0.44468029822227023
  (1670, 7023)	0.30881553520357513
  (1670, 7537)	0.3339324829222965
  (1671, 1539)	0.5270404743780193
  (1671, 2294)	0.4118037937552134
  (1671, 2947)	0.6502626339751012
  (1671, 4451)	0.3602838889986195

In [30]:
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

svc = SVC(kernel='sigmoid', gamma=1.0)
svc.fit(features_train, labels_train)
prediction = svc.predict(features_test)
accuracy_score(labels_test,prediction)

0.9784688995215312

In [31]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB(alpha=0.2)
mnb.fit(features_train, labels_train)
prediction = mnb.predict(features_test)
accuracy_score(labels_test,prediction)

0.9850478468899522